
body{
    margin: 0px;
    overflow: hidden; /* Hide scrollbars */
    cursor: wait;
    background-image: url('/assets/BgImages/WhiteNoise.jpg');
}


@font-face {
    font-family: 'Pixel';
    src: url('/fonts/Pixel.ttf') format('truetype');
    font-weight: normal;
  }


  @font-face {
    font-family: 'Aeonik';
    src: url('/fonts/Aeonik.ttf') format('truetype')
  }