.donutContainer {
    height: 100vh;
    background-color: rgba(217, 217, 217, 1);
}


.heroContainer {
    height: 100vh;
    // background-color: orange;
   display:flex;
   justify-content: center;
   align-items: center;
    width: 100vw;
    background-image: url('../../public/BgImages/WhiteNoise.jpg');

   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
}



.heroContainer h1 {
    font-size: 200px;
    position: absolute;
    font-family: 'Pixel';
    letter-spacing: 20px;

}



.statueContainer {
    position: relative;
    top: 10rem;
}


.aboutContainer {
 background-image: url('../../public/BgImages/WhiteNoise.jpg');
 margin-top: 0;
 padding-top: 0;
 background-size: cover;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-position: center;
}


.templateContainer {
    background-image: url('../../public/Images/Laptop.jpg');
    width: 100%;
    height: 150vh;
    z-index: 100;
    display: flex;
    flex-direction: row-reverse;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; /* Ensure the image covers the container */
    background-attachment: fixed;
    
}





.movingTextContainer {
height: 100%;
    
}




