.container {
    height: 100vh;
    width: 100vw;
    display: flex;
// background-image: url('/public/images/background.jpg');
background-color: black;
  }
  .body{
    display: flex;
    flex-direction: column;
    position: absolute;
    transform-style: preserve-3d;
    margin-top: 25px;
    margin-left: 25px;

  }
  .textContainer {
    position: relative;
    cursor: pointer;
    transition: transform 0.4s;
    transform-style: preserve-3d;
  }
  
  .textContainer p {
    font-size: 8vw;
    font-weight: 700;
    margin: 0;
    transition: all 0.4s;
    color: white;
    line-height: 8vw;
    text-shadow: 
      10px 1px 0 #000, 
      10px 2px 0 #000, 
      10px 3px 0 #000, 
      10px 4px 0 #000, 
      10px 5px 0 #000; /* Adjust these values for the desired shadow effect */
  }
  
  .textContainer .secondary {
    transform: rotateX(-90deg) translateY(3.5vw);
    transform-origin: bottom center;
    position: absolute;
    top: 0;
    left: 0; /* Ensure correct positioning */
    color: orange;
    opacity: 0;
    text-shadow: 
      20px 1px 1px rgba(0, 0, 0, 0.6), 
      20px 2px 1px rgba(0, 0, 0, 0.6), 
      20px 3px 1px rgba(0, 0, 0, 0.6); /* Add depth to the shadow */
  }
  .textContainer:hover{
    transform: rotateX(90deg);
  }
  
  .textContainer:hover .secondary{
    opacity: 1;
  }
  
  .textContainer:hover .primary{
    transform: translateY(-100%);
    opacity: 0;
  }
  
  